@import './bigformbar';

.BigForm {
    height: 100vh;
    background-image: url('./assets/images/barrett-ward.jpg');
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}