@import './bigformbar';

.BigForm {
    height: 100vh;
    background-image: url('./assets/images/barrett-ward.jpg');
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
}
.BigFormPage {
    margin: 20px 30px;
    & ul {
        list-style: none;
        li {
            span {
                padding: 0 10px;
            }
        }
    }
    & *{
        margin: 10px 0;
    }
    .BigFormButtons{
        display: flex;
        flex-direction: row;
    }
    button {
        font-size: 1.5em;
        text-transform: uppercase;
        margin: 10px;
        width: 200px;
        height: 75px;
        background-color: white;
        border: 1px solid gray;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .small {
            font-size: 1em;
            margin: 0;
            width: 0;
            height: 0;
            padding: 5px 10px;
        }
        a {
            color:black;
            text-decoration: none;
        }
    }
}