.Info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    padding: 20px;
    h1, h3, p {
        margin: 10px 0;
    }
    p{
        text-align: center;
    }
}