.Menu {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    li {
        padding: 10px;
        border: 1px solid gray;
        margin: 10px 5px;

        a {
            color: gray;
            text-decoration: none;
        }
    }

}