@import './infobox';

.YellowBar {
    width: 100%;
    background-color: yellow;
    background-image: url("./assets/images/Bg2.png");
    display: flex;
    flex-direction: row;
    justify-content: center;
}
