@import './infobox';

.Yellow-bar {
    width: 100%;
    background-color: yellow;
    background-image: url("./assets/images/Bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
