@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

@import './assets/scss/ornament';
@import './assets/scss/header';
@import './assets/scss/yellowbar';
@import './assets/scss/steps';
@import './assets/scss/about';
@import './assets/scss/fundations';
@import './assets/scss/fundationbox';
@import './assets/scss/contact';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


