@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.About {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.About-left {
  width: 500px;
  height: 500px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.About p {
  padding: 10px;
  text-align: center;
}
.About-sign {
  width: 200px;
  height: 100px;
  background-image: url("./assets/images/signature.png");
  background-size: cover;
  align-self: flex-end;
}
.About-img {
  width: 600px;
  background-image: url("./assets/images/about.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.Ornament-img {
  width: 250px;
  height: 50px;
  padding: 10px;
  background-image: url("./assets/images/ornament.png");
  background-size: contain;
  background-repeat: no-repeat;
}
